[submodule "vendor/third-party/zig/zig-clap"]
	path = vendor/third-party/zig/zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "vendor/os-specific/linux/zig/zig-wlroots"]
	path = vendor/os-specific/linux/zig/zig-wlroots
	url = https://github.com/ExpidusOS/zig-wlroots
[submodule "vendor/os-specific/linux/zig/zig-wayland"]
	path = vendor/os-specific/linux/zig/zig-wayland
	url = https://github.com/ExpidusOS/zig-wayland
[submodule "vendor/os-specific/linux/libs/wayland"]
	path = vendor/os-specific/linux/libs/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland
[submodule "vendor/libs/expat"]
	path = vendor/libs/expat
	url = https://github.com/libexpat/libexpat
[submodule "vendor/libs/libffi"]
	path = vendor/libs/libffi
	url = https://github.com/libffi/libffi
[submodule "vendor/os-specific/linux/libs/wayland-protocols"]
	path = vendor/os-specific/linux/libs/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
